<%- include('../partials/header',{hojaDeEstilo:"/css/stylesBookings.css"}) %>
<div class="hero nc-timbre-tris" id="reserva-timbre">
    <div class="container">
        <div class="main-heading">
            <h1 class="title-res nc-titulo-pagina"><%= __('booking_status.titulo') %></h1>
            <div class="nc-confirmation-block">
                <div class="nc-booking-code-block">
                    <h2 class="nc-booking-message"><%= bookingInfo.guests.name %> <%= bookingInfo.guests.lastname %></h2>
                    <h2 class="nc-booking-message"><%= __('booking_status.msg_codigo') %></h2>
                    <h2 class="nc-booking-code"><%= bookingInfo.booking_code %></h2>
                </div>
                <div class="nc-booking-info-block">
                    <div class="nc-booking-status-block">
                        <h2 class="nc-booking-status-title"><label class="nc-titulo-info"><%= __('booking_status.estado') %>:</label><%= bookingInfo.estado %></h2>
                        <label class="nc-booking-status-explanation"><%= bookingInfo.explicacion %></label>
                    </div>
                    <span class="nc-booking-info"><i class="fas fa-calendar-alt"></i><label class="nc-titulo-info"><%= __('booking_status.entrada') %>:</label><%= bookingInfo.check_in_txt %></span>
                    <span class="nc-booking-info"><i class="fas fa-calendar-alt"></i><label class="nc-titulo-info"><%= __('booking_status.salida') %>:</label><%= bookingInfo.check_out_txt %></span>
                    <span class="nc-booking-info"><i class="fas fa-user-friends"></i><label class="nc-titulo-info"><%= __('booking_status.huespedes') %>:</label><%= bookingInfo.occupancy %></span>
                    <span class="nc-booking-info"><i class="fas fa-bed"></i><label class="nc-titulo-info"><%= __('booking_status.habitaciones') %>:</label><%= bookingInfo.room_count %></span>
                    <span class="nc-booking-info"><i class="fas fa-money-bill"></i><label class="nc-titulo-info"><%= __('booking_status.total') %>:</label>$ <%= bookingInfo.montoFormateado %></span>
                    <span class="nc-booking-info"><i class="fas fa-money-bill-alt"></i><label class="nc-titulo-info"><%= __('booking_status.sena') %>:</label>$ <%= bookingInfo.montoReservaFormateado %></span>
                    <% if(bookingInfo.state_id == 1){ %>
                        <div class="nc-payment-link-block">
                            <span class="nc-payment-message"><%= __('booking_status.msg_pago_sena') %> <a href="/payment/upload"><%= __('booking_status.aqui') %></a></span>
                        </div>
                    <% } %>
                    <% if(bookingInfo.antiguedad <= 10){ %>
                        <form class="nc-regret-block" action="/booking/cancel/<%= bookingInfo.id %>?_method=DELETE" method="POST">
                            <div class="nc-init-regret-block">
                                <input class="btn btn-gradient nc-btn-extra nc-btn-regret" type="submit" value="<%= __('booking_status.boton') %>">
                            </div>
                            <div class="nc-confirm-regret-block">
                                <input class="btn btn-gradient nc-btn-extra" type="submit" value="<%= __('booking_status.boton_2') %>">
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>