<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RESERVAS HOSTERIA</title>
        <link rel="stylesheet" href="/css/stylesBasic.css">
        <script src="https://kit.fontawesome.com/5b9f12c43f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action="/consultaReserva" method="GET">
            <div>
                <label>Desde</label>
                <input type="date" name="desde" value="2025-09-30">
            </div>
            <div>
                <label>Desde</label>
                <input type="date" name="hasta" value="2025-10-10">
            </div>
            <div>
                <label>Personas</label>
                <input type="text" name="personas" value="4">
            </div>
            <div>
                <label>Habitaciones</label>
                <input type="text" name="habitaciones" value="3">
            </div>
            <div>
                <input type="submit" value="CONSULTAR">
            </div>
        </form>
    </body>
    <div>
        <form action="/consultaReserva/detallesReserva/<%= resTemp.id %>" method="POST">
            <label>SELECCIONAR HABITACIONES</label>
            <% if(locals.errors && errors.habitaciones){ %>
                <div>
                    <label><%= errors.habitaciones.msg %></label>   
                </div>
            <% } %>
            <% tiposHab.forEach(tipo =>{ %>
                <% if(tipo.cantidad > 0) { %>
                    <div>
                        <label><%= tipo.description %></label>
                        <div>
                            <label>0</label>
                            <input type="radio" name="<%= tipo.short_name %>" value="0" checked>
                            <% for(let i = 1 ; i <= tipo.cantidad ; i ++){ %>
                                <% if(i <= qHab){ %>
                                    <label><%= i %></label>
                                    <input type="radio" name="<%= tipo.short_name %>" value="<%= i %>">
                                <% } %>
                            <% } %>
                        </div>
                    </div>  
                <% } %>  
            <% }) %>
            <div>
                <div>
                    <label>NOMBRE</label>
                    <input type="text" name="name">
                    <% if(locals.errors && errors.name){ %>
                        <div>
                            <label><%= errors.name.msg %></label>   
                        </div>
                    <% } %>
                </div>
                <div>
                    <label>APELLIDO</label>
                    <input type="text" name="lastname">
                    <% if(locals.errors && errors.lastname){ %>
                        <div>
                            <label><%= errors.lastname.msg %></label>   
                        </div>
                    <% } %>
                </div>
                <div>
                    <label>email</label>
                    <input type="email" name="email">
                    <% if(locals.errors && errors.email){ %>
                        <div>
                            <label><%= errors.email.msg %></label>   
                        </div>
                    <% } %>
                </div>
                <div>
                    <label>Repetir email</label>
                    <input type="email" name="emailBis">
                    <% if(locals.errors && errors.emailBis){ %>
                        <div>
                            <label><%= errors.emailBis.msg %></label>   
                        </div>
                    <% } %>
                </div>
                <div>
                    <label>TELEFONO</label>
                    <input type="number" name="phone">
                    <% if(locals.errors && errors.phone){ %>
                        <div>
                            <label><%= errors.phone.msg %></label>   
                        </div>
                    <% } %>
                </div>
            </div>
            <div>
                <input type="submit" value="CONFIRMAR">
            </div>
        </form>
    </div>


</html>