<%- include('../partials/header',{hojaDeEstilo:"/css/stylesAdmin.css"}) %>
<div class="hero nc-timbre-tris" id="sector-admin">
    <div class="container">
        <div class="main-heading">
            <h1 class="title-res nc-titulo-pagina"><%= booking.booking_code %></h1>
            <div class="nc-back-container">
                <a href="/admin/menu"><i class="fas fa-bars"></i>Menu</a>
            </div>
            <div class="nc-block">
                <div class="nc-booking-info">
                    <div class="nc-booking-info-header">
                        <div class="nc-booking-header-guest">
                            <label class="nc-booking-guest-main"><%= booking.guests.name %> <%= booking.guests.lastname %></label>
                            <label class="nc-booking-guest-secondary">Mail: <%= booking.guests.email %></label>
                            <label class="nc-booking-guest-secondary">Tel: <%= booking.guests.phone %></label>
                        </div>
                        <div class="nc-booking-header-extra">
                            <div>
                                <label>Huespedes: <%= booking.occupancy %></label>
                                <label>Habitaciones: <%= booking.room_count %></label>
                            </div>
                            <div>
                                <label>Llegada: <%= booking.checkInFormateado %></label>
                                <label>Partida: <%= booking.checkOutFormateado %></label>
                            </div>
                        </div>
                        <div class="nc-booking-amounts">
                            <label class="nc-booking-amounts-main">Monto Total: $ <%= booking.totalFormateado %></label>
                            <label class="nc-booking-amounts-secondary">Monto Seña: $ <%= booking.senaFormateado %></label>
                        </div>
                    </div>
                    <div class="nc-booking-payment-container">
                        <% if(booking.formatoArchivo == "pdf"){ %>
                            <div class="imagen-comprobante">
                                <iframe src="/pagos/<%= booking.payment %>" alt="comprobante" class="comprobante-imagen version-pdf"></iframe>
                            </div>
                        <% } else { %>
                            <div class="imagen-comprobante">
                                <img src="/pagos/<%= booking.payment %>" alt="comprobante" class="comprobante-imagen">
                            </div>     
                        <% } %>
                    </div>
                    <form action="/admin/confirmarReserva/<%= booking.id %>" method="POST" class="nc-booking-rooms-container">
                        <h2>Habitaciones</h2>
                        <% if(locals.errors && errors.habitaciones){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.habitaciones.msg %></label>   
                            </div>
                        <% } %>
                        <% if(booking.state_id == 3){ %>
                            <% for(let i = 0; i< booking.rooms.length; i++){ %>  
                                <div class="nc-booking-room">
                                    <h3><%= (i+1) + ' - ' + booking.rooms[i].description %></h3>
                                    <select name="<%= 'habitacion_' + booking.rooms[i].id %>" class="nc-booking-room-selector">
                                        <option class="nc-booking-room-option" value="<%= booking.rooms[i].room_id %>" selected><%= booking.rooms[i].number %></option>
                                        <% booking.rooms[i].opciones.forEach(opcion =>{ %>
                                            <option class="nc-booking-room-option" value="<%= opcion.id %>" <%= locals.oldInfo && oldInfo['habitacion_' + booking.rooms[i].id] == opcion.id ? "selected" : '' %>><%= opcion.number %></option>
                                        <% }) %>
                                    </select>
                                    <div class="nc-booking-room-guests">
                                        <label>Adultos: <%= booking.rooms[i].adults %></label>
                                        <label>Niños: <%= booking.rooms[i].children %></label>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <% for(let i = 0; i< booking.rooms.length; i++){ %>     
                                <div class="nc-booking-room">
                                    <h3><%= (i+1) + ' - ' + booking.rooms[i].description %></h3>
                                    <select name="<%= 'habitacion_' + booking.rooms[i].id %>" class="nc-booking-room-selector">
                                        <option class="nc-booking-room-option" value="" selected>S/A</option>
                                        <% booking.rooms[i].opciones.forEach(opcion =>{ %>
                                            <% if(locals.oldInfo){ %>
                                                <% if(oldInfo['habitacion_' + booking.rooms[i].id] == opcion.id){ %>
                                                    <option class="nc-booking-room-option" value="<%= opcion.id %>" selected><%= opcion.number %></option>
                                                <% } else { %>
                                                    <option class="nc-booking-room-option" value="<%= opcion.id %>"><%= opcion.number %></option>
                                                <% } %> 
                                            <% } else { %>
                                                <option class="nc-booking-room-option" value="<%= opcion.id %>" <%= booking.rooms[i].room_id && booking.rooms[i].room_id == opcion.id ? 'selected' : '' %>><%= opcion.number %></option>
                                            <% } %> 
                                        <% }) %>
                                    </select>
                                    <div class="nc-booking-room-guests">
                                        <label>Adultos: <%= booking.rooms[i].adults %></label>
                                        <label>Niños: <%= booking.rooms[i].children %></label>
                                    </div>
                                </div>                    
                            <% } %>
                        <% } %>
                        <div class="nc-button-block admin-booking-confirmation-button">
                            <input class="btn btn-gradient nc-btn-extra" type="submit" value="CONFIRMAR RESERVA">
                        </div>
                    </form>
                    <form action="/admin/eliminarReserva/<%= booking.id %>?_method=DELETE" method="POST" class="nc-booking-delete">
                        <div class="nc-button-block admin-booking-delete-button">
                            <input class="btn btn-gradient nc-btn-extra" type="submit" value="ELIMINAR RESERVA">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>