<%- include('../partials/header',{hojaDeEstilo:"/css/stylesAdmin.css"}) %>
<div class="hero nc-timbre-tris" id="sector-admin">
    <div class="container">
        <div class="main-heading">
            <div class="nc-back-container">
                <a href="/admin/menu"><i class="fas fa-bars"></i>Menu</a>
            </div>
            <h1 class="title-res nc-titulo-pagina">Reservar</h1>
            <div class="nc-block">
                <div class="adm-room-avlb-textosFecha">
                    <div>
                        <label class="adm-room-avlb-tituloFecha">Check In:</label>
                        <label class="adm-room-avlb-datoFecha"><%= infoBusqueda.textoCheckIn %></label>
                    </div>
                    <div>
                        <label class="adm-room-avlb-tituloFecha">Check Out:</label>
                        <label class="adm-room-avlb-datoFecha"><%= infoBusqueda.textoCheckOut %></label>
                    </div>
                </div>
                <form action="/admin/reservarHabitacion" class="nc-reservar-form" method="POST">
                    <div class="nc-reservar-conteiner">
                        <div class="nc-reservar-input">
                            <label for="adults">Adultos</label>
                            <input id="adults" name="adults" type="number" value="<%= locals.oldInfo && oldInfo.adults ? oldInfo.adults : '' %>">
                        </div>
                        <div class="nc-reservar-input">
                            <label for="children">Menores</label>
                            <input id="children" name="children" type="number" value="<%= locals.oldInfo && oldInfo.children ? oldInfo.children : '' %>">
                        </div>
                    </div>
                    <% if(locals.errors && errors.ocupacion){ %>
                        <div class="nc-error-block">
                            <label class="nc-error-message"><%= errors.ocupacion.msg %></label>   
                        </div>
                    <% } %>                
                    <div class="nc-reservar-input">
                        <label for="name">Nombre</label>
                        <input id="name" name="name" type="text" value="<%= locals.oldInfo && oldInfo.name ? oldInfo.name : '' %>">
                        <% if(locals.errors && errors.name){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.name.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="nc-reservar-input">
                        <label for="lastname">Apellido</label>
                        <input id="lastname" name="lastname" type="text" value="<%= locals.oldInfo && oldInfo.lastname ? oldInfo.lastname : '' %>">
                        <% if(locals.errors && errors.lastname){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.lastname.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="nc-reservar-input">
                        <label for="cuarto">Habitacion</label>
                        <select name="habitacion" class="nc-booking-room-selector">
                            <option class="nc-booking-room-option" value="" selected>S/A</option>
                            <% tipos.forEach(tipo =>{ %>
                                <% tipo.habDisp.forEach(habitacion =>{ %>
                                    <option class="nc-booking-room-option" value="<%= habitacion.id %>"  <%= locals.oldInfo && oldInfo.habitacion && oldInfo.habitacion == habitacion.id ? 'selected' : '' %>><%= habitacion.number %></option>
                                <% }) %>
                            <% }) %>
                        </select>
                        <% if(locals.errors && errors.habitacion){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.habitacion.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="nc-button-block admin-booking-button">
                        <input class="btn btn-gradient nc-btn-extra" type="submit" value="RESERVAR">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>