<%- include('../partials/header',{hojaDeEstilo:"/css/stylesAdmin.css"}) %>
<div class="hero nc-timbre-tris" id="sector-admin">
    <div class="container nc-info-booking">
        <div class="main-heading">
            <div class="nc-back-container">
                <a href="/admin/menu"><i class="fas fa-bars"></i>Menu</a>
            </div>
            <h1 class="title-res nc-titulo-pagina"><%= booking.booking_code %></h1>
            <h2>(<%= booking.states.state %>)</h2>
            <div class="nc-block">
                <% if(booking.states.state == "Deleted"){ %>
                    <div class="nc-reactivate-deleted">
                        <a href="/search/roomSelection?check_in=<%= booking.check_in %>&check_out=<%= booking.check_out %>&people=<%= booking.occupancy %>&rooms=<%= booking.room_count %>" class="btn btn-gradient" type="submit">Reactivar</a>
                    </div>
                <% } %>
                <div class="nc-booking-info">
                    <div class="nc-booking-info-header">
                        <div class="nc-booking-header-guest">
                            <label class="nc-booking-guest-main"><%= booking.guests.name %> <%= booking.guests.lastname %></label>
                            <label class="nc-booking-guest-secondary">Mail: <%= booking.guests.email %></label>
                            <label class="nc-booking-guest-secondary">Tel: <%= booking.guests.phone %></label>
                        </div>
                        <div class="nc-booking-header-extra">
                            <div>
                                <label>Huespedes: <%= booking.occupancy %></label>
                                <label>Habitaciones: <%= booking.room_count %></label>
                            </div>
                            <div>
                                <label>Llegada: <%= booking.checkInFormateado %></label>
                                <label>Partida: <%= booking.checkOutFormateado %></label>
                            </div>
                        </div>
                        <div class="nc-booking-amounts">
                            <label class="nc-booking-amounts-main">Monto Total: $ <%= booking.totalFormateado %></label>
                            <label class="nc-booking-amounts-secondary">Monto Se単a: $ <%= booking.senaFormateado %></label>
                        </div>
                    </div>
                    <div class="nc-booking-payment-container">
                        <a href="/pagos/<%= booking.payment %>" target="_blank">
                        <% if(booking.formatoArchivo == "pdf"){ %>                            
                            <div class="imagen-comprobante">
                                <iframe src="/pagos/<%= booking.payment %>" alt="comprobante" class="comprobante-imagen version-pdf"></iframe>
                            </div>
                        <% } else { %>
                            <div class="imagen-comprobante">
                                <img src="/pagos/<%= booking.payment %>" alt="comprobante" class="comprobante-imagen">
                            </div>     
                        <% } %>
                        </a>
                    </div>
                    <% if(booking.state_id == 3){ %>
                        <form action="/admin/editarReserva/<%= booking.id %>?_method=PUT" method="POST" class="nc-booking-rooms-container">
                    <% } else { %>
                        <form action="/admin/confirmarReserva/<%= booking.id %>" method="POST" class="nc-booking-rooms-container">
                    <% } %>
                        <h2>Habitaciones</h2>
                        <% if(locals.errors && errors.habitaciones){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.habitaciones.msg %></label>   
                            </div>
                        <% } %>
                        <div class="nc-booking-room">
                            <% if(booking.state_id == 3){ %>
                                <% for(let i = 0; i< booking.rooms.length; i++){ %>  
                                    <h3><%= (i+1) + ' - ' + booking.rooms[i].description %></h3>
                                    <select name="<%= 'habitacion_' + booking.rooms[i].id %>" class="nc-booking-room-selector">
                                        <option class="nc-booking-room-option" value="<%= booking.rooms[i].room_id %>" selected><%= booking.rooms[i].number %></option>
                                        <% booking.rooms[i].opciones.forEach(opcion =>{ %>
                                            <option class="nc-booking-room-option" value="<%= opcion.id %>" <%= locals.oldInfo && oldInfo['habitacion_' + booking.rooms[i].id] == opcion.id ? "selected" : '' %>><%= opcion.number %></option>
                                        <% }) %>
                                    </select>
                                    <div class="nc-booking-room-guests">
                                        <div class="nc-reservar-input">
                                            <label for="<%= 'adults' + booking.rooms[i].id %>">Adultos: </label>
                                            <input id="<%= 'adults' + booking.rooms[i].id %>" name="<%= 'adults' + booking.rooms[i].id %>" type="number" min="0" max="<%= booking.rooms[i].occupancy %>" value="<%= locals.oldInfo && oldInfo['adults' + booking.rooms[i].id] ? oldInfo['adults' + booking.rooms[i].id] : booking.rooms[i].adults %>">
                                        </div>
                                        <div class="nc-reservar-input">
                                            <label for="<%= 'children' + booking.rooms[i].id %>">Ni単os: </label>
                                            <input id="<%= 'children' + booking.rooms[i].id %>" name="<%= 'children' + booking.rooms[i].id %>" type="number" min="0" max="<%= booking.rooms[i].occupancy %>" value="<%= locals.oldInfo && oldInfo['children' + booking.rooms[i].id] ? oldInfo['children' + booking.rooms[i].id] : booking.rooms[i].children %>">
                                        </div>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <% for(let i = 0; i< booking.rooms.length; i++){ %>     
                                    <h3><%= (i+1) + ' - ' + booking.rooms[i].description %></h3>
                                    <% if(booking.states.state != "Deleted"){ %>
                                        <select name="<%= 'habitacion_' + booking.rooms[i].id %>" class="nc-booking-room-selector">
                                            <option class="nc-booking-room-option" value="" selected>S/A</option>
                                            <% booking.rooms[i].opciones.forEach(opcion =>{ %>
                                                <% if(locals.oldInfo){ %>
                                                    <% if(oldInfo['habitacion_' + booking.rooms[i].id] == opcion.id){ %>
                                                        <option class="nc-booking-room-option" value="<%= opcion.id %>" selected><%= opcion.number %></option>
                                                    <% } else { %>
                                                        <option class="nc-booking-room-option" value="<%= opcion.id %>"><%= opcion.number %></option>
                                                    <% } %> 
                                                <% } else { %>
                                                    <option class="nc-booking-room-option" value="<%= opcion.id %>" <%= booking.rooms[i].room_id && booking.rooms[i].room_id == opcion.id ? 'selected' : '' %>><%= opcion.number %></option>
                                                <% } %> 
                                            <% }) %>
                                        </select>
                                    <% } %>
                                    <div class="nc-booking-room-guests">
                                        <label>Adultos: <%= booking.rooms[i].adults %></label>
                                        <label>Ni単os: <%= booking.rooms[i].children %></label>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <% if(booking.states.state != "Deleted"){ %>
                            <div class="nc-button-block admin-booking-confirmation-button">
                                <input class="btn btn-gradient nc-btn-extra" type="submit" value="CONFIRMAR RESERVA">
                            </div>
                        <% } %>
                    </form>
                    <div class="nc-booking-rooms-container nc-booking-comments">
                        <h2>Comentarios</h2>
                        <% booking.comments.forEach(comment =>{ %>
                            <article class="nc-booking-comments-container">
                                <section class="nc-booking-comments-header">
                                    <label class="nc-booking-comments-date"><%= comment.date %></label>
                                    <label class="nc-booking-comments-state"><%= comment.states.state %></label>
                                </section>
                                <section class="nc-booking-comments-text"><%= comment.comment %></section>
                            </article>
                        <% }) %>
                    </div>
                    <% if(booking.states.state != "Deleted"){ %>
                        <form action="/admin/forzarEstado/<%= booking.id %>?_method=PUT" method="POST"  class="nc-booking-rooms-container nc-cambiar-estado-form">
                            <h2>Agregar Comentarios</h2>
                            <div class="nc-cambiar-estado">
                                <div class="nc-cambiar-estado-select">
                                    <label class="nc-cambiar-estado-label" for="estado" class>Estado</label>
                                    <select name="estado" id="estado" class="nc-cambiar-estado-selector">
                                        <option class="nc-booking-room-option" value="" selected></option>
                                        <option class="nc-booking-room-option" value="<%= booking.states.id %>">Sin Cambio</option>
                                        <% estados.forEach(estado =>{ %>
                                            <option class="nc-booking-room-option" value="<%= estado.id %>" <%= locals.oldInfo && oldInfo.estado && oldInfo.estado == estado.id ? 'selected' : '' %>><%= estado.state %></option>
                                        <% }) %>   
                                    </select>
                                </div>
                                <% if(locals.errors && errors.estado){ %>
                                    <div class="nc-error-block">
                                        <label class="nc-error-message"><%= errors.estado.msg %></label>   
                                    </div>
                                <% } %>
                                <div class="nc-cambiar-estado-coments-block">
                                    <label class="nc-cambiar-estado-label" for="comentarios" class>Comentarios</label>
                                    <textarea maxlength="300" name="comentarios" class="nc-cambiar-estado-comentarios" text="Algo"><%= locals.oldInfo && oldInfo.comentarios ? oldInfo.comentarios : '' %></textarea>
                                </div>
                                <% if(locals.errors && errors.comentarios){ %>
                                    <div class="nc-error-block">
                                        <label class="nc-error-message"><%= errors.comentarios.msg %></label>   
                                    </div>
                                <% } %>
                            </div>
                            <div class="nc-button-block admin-booking-confirmation-button">
                                <input class="btn btn-gradient nc-btn-extra" type="submit" value="CAMBIAR ESTADO">
                            </div>
                        </form>
                        <form action="/admin/eliminarReserva/<%= booking.id %>?_method=DELETE" method="POST" class="nc-booking-delete">
                            <div class="nc-button-block admin-booking-delete-button">
                                <input class="btn btn-gradient nc-btn-extra nc-btn-init-delete" type="submit" value="ELIMINAR RESERVA">
                                <input class="btn btn-gradient nc-btn-extra nc-btn-confirm-delete" type="submit" value="多ELIMINAR?">
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>