<%- include('../partials/header',{hojaDeEstilo:"/css/stylesBookings.css"}) %>
<div class="hero" id="reserva-timbre">
    <div class="container">
        <div class="main-heading">
            <h1 class="title-res"><%= __('initial_search.titulo') %></h1>
            <div class="nc-booking-block">
                <form action="/booking/roomSelection" class="form" method="GET">
                    <div class="input-group">
                        <label for="check-in" class="input-label"><%= __('initial_search.entrada') %></label>
                        <input type="date" class="input <%= locals.errors && errors.check_in ? 'nc-input-with-error' : '' %>" id="check-in" name="check_in" <%=locals.oldInfo && oldInfo.check_in ? "value=" + oldInfo.check_in : '' %>>
                        <% if(locals.errors && errors.check_in){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.check_in.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="input-group">
                        <label for="check-out" class="input-label"><%= __('initial_search.salida') %></label>
                        <input type="date" class="input <%= locals.errors && errors.check_out ? 'nc-input-with-error' : '' %>" id="check-out"  name="check_out" <%=locals.oldInfo && oldInfo.check_out ? "value=" + oldInfo.check_out : '' %>>
                        <% if(locals.errors && errors.check_out){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.check_out.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="input-group">
                        <label for="people" class="input-label"><%= __('initial_search.huespedes') %></label>
                        <input type="number" class="input <%= locals.errors && errors.people ? 'nc-input-with-error' : '' %>" id="people" name="people" min="0" <%=locals.oldInfo && oldInfo.people ? "value=" + oldInfo.people : '' %>>
                        <% if(locals.errors && errors.people){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.people.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="input-group">
                        <label for="rooms" class="input-label"><%= __('initial_search.habitaciones') %></label>
                        <input type="number" class="input <%= locals.errors && errors.rooms ? 'nc-input-with-error' : '' %>" id="rooms" name="rooms" min="0" max="14" <%=locals.oldInfo && oldInfo.rooms ? "value=" + oldInfo.rooms : '' %>>
                        <% if(locals.errors && errors.rooms){ %>
                            <div class="nc-error-block">
                                <label class="nc-error-message"><%= errors.rooms.msg %></label>   
                            </div>
                        <% } %>
                    </div>
                    <div class="nc-button-block">
                        <label><i class="fas fa-search"></i></label>
                        <input class="btn btn-gradient nc-btn-extra" type="submit" value="<%= __('initial_search.boton') %>">
                    </div>
                </form>
            </div>
        </div>
        <div class="nc-payment-link-block">
            <span class="nc-payment-message"><%= __('initial_search.msg_pago_sena') %> <a href="/payment/upload"><%= __('initial_search.aqui') %></a></span>
        </div>
        <div class="nc-payment-link-block">
            <span class="nc-payment-message"><%= __('initial_search.msg_estado_reserva') %> <a href="/booking/search"><%= __('initial_search.aqui') %></a></span>
        </div>
    </div>
</div>
<section class="booking">
</section>
</main>
<%- include('../partials/footer') %>